/* --------------------------------------------------
   Container
   -------------------------------------------------- */

.keybed,
.info,
footer {
  margin-inline: auto;
  max-width: var(--max-width);
  width: 100%;
}
