doctype html
html
  head
    title Piano Keyboard - Felipe Fialho
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content='Piano Keyboard developed with HTML, CSS and JavaScript')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no') 
  body 
    section.piano
      .key
        .white-key(data-key='20' data-note='1C')
        .black-key(data-key='81' data-note='1Cs')
      .key
        .white-key(data-key='65' data-note='1D')
        .black-key(data-key='87' data-note='1Ds')
      .key
        .white-key(data-key='83' data-note='1E')
      .key
        .white-key(data-key='68' data-note='1F')
        .black-key(data-key='82' data-note='1Fs')
      .key
        .white-key(data-key='70' data-note='1G')
        .black-key(data-key='84' data-note='1Gs')
      .key
        .white-key(data-key='71' data-note='2A')
        .black-key(data-key='89' data-note='2As')
      .key
        .white-key(data-key='72' data-note='2B')
      .key
        .white-key(data-key='74' data-note='2C')
        .black-key(data-key='73' data-note='2Cs')
      .key
        .white-key(data-key='75' data-note='2D')
        .black-key(data-key='79' data-note='2Ds')
      .key
        .white-key(data-key='76' data-note='2E')
      .key
        .white-key(data-key='186' data-note='2F')
        .black-key(data-key='219' data-note='2Fs')
      .key
        .white-key(data-key='222' data-note='2G')
        .black-key(data-key='221' data-note='2Gs')
      .key
        .white-key(data-key='220' data-note='3A')
        .black-key(data-key='13' data-note='3As')
      .key
        .white-key(data-key='37' data-note='3B') 
