doctype html
html
  head
    title Piano Keyboard - Felipe Fialho
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content='Piano Keyboard developed with HTML, CSS and JavaScript')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no') 
