/*
* Piano Keyboard 
* Author: Luiz Felipe Tartarotti Fialho
* @LFeh / luizfelipe.tf.13@gmail.com
* http://www.felipefialho.com/
*/
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
@charset 'UTF-8';
@font-face {
  font-family: 'brandico';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('http://weloveiconfonts.com/api/fonts/brandico/brandico.eot');
  src: url('http://weloveiconfonts.com/api/fonts/brandico/brandico.eot?#iefix') format('eot'), url('http://weloveiconfonts.com/api/fonts/brandico/brandico.woff') format('woff'), url('http://weloveiconfonts.com/api/fonts/brandico/brandico.ttf') format('truetype'), url('http://weloveiconfonts.com/api/fonts/brandico/brandico.svg#brandico') format('svg');
}
.brandico-facebook:before {
  content: "\f300";
}
.brandico-facebook-rect:before {
  content: "\f301";
}
.brandico-twitter:before {
  content: "\f302";
}
.brandico-twitter-bird:before {
  content: "\f303";
}
.brandico-vimeo:before {
  content: "\f30f";
}
.brandico-vimeo-rect:before {
  content: "\f30e";
}
.brandico-tumblr:before {
  content: "\f311";
}
.brandico-tumblr-rect:before {
  content: "\f310";
}
.brandico-googleplus-rect:before {
  content: "\f309";
}
.brandico-github-text:before {
  content: "\f307";
}
.brandico-github:before {
  content: "\f308";
}
.brandico-skype:before {
  content: "\f30b";
}
.brandico-icq:before {
  content: "\f304";
}
.brandico-yandex:before {
  content: "\f305";
}
.brandico-yandex-rect:before {
  content: "\f306";
}
.brandico-vkontakte-rect:before {
  content: "\f30a";
}
.brandico-odnoklassniki:before {
  content: "\f30c";
}
.brandico-odnoklassniki-rect:before {
  content: "\f30d";
}
.brandico-friendfeed:before {
  content: "\f312";
}
.brandico-friendfeed-rect:before {
  content: "\f313";
}
.brandico-blogger:before {
  content: "\f314";
}
.brandico-blogger-rect:before {
  content: "\f315";
}
.brandico-deviantart:before {
  content: "\f316";
}
.brandico-jabber:before {
  content: "\f317";
}
.brandico-lastfm:before {
  content: "\f318";
}
.brandico-lastfm-rect:before {
  content: "\f319";
}
.brandico-linkedin:before {
  content: "\f31a";
}
.brandico-linkedin-rect:before {
  content: "\f31b";
}
.brandico-picasa:before {
  content: "\f31c";
}
.brandico-wordpress:before {
  content: "\f31d";
}
.brandico-instagram:before {
  content: "\f31e";
}
.brandico-instagram-filled:before {
  content: "\f31f";
}
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
body {
  color: #222;
  background: #fff;
  font-size: 18px;
  line-height: 24px;
  font-family: helvetica, arial;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #999;
}
.hidden {
  visibility: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 70px;
  margin-top: 20px;
  line-height: 80px;
}
h2 {
  color: #777;
  font-size: 24px;
  margin-bottom: 20px;
}
h3 {
  color: #555;
  font-size: 20px;
  margin: 20px 0 10px;
}
p {
  margin-bottom: 15px;
}
.wrap {
  position: relative;
}
.container {
  margin: 0 auto;
  padding: 20px;
  width: 980px;
}
hr {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
.fork {
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
}
.share {
  height: 20px;
}
.social-media {
  list-style: none;
  margin: 0;
}
.social-media li {
  display: inline-block;
  margin: 0 5px;
}
.social-media a {
  transition: color .1s linear;
  color: #222;
  font-size: 20px;
}
.social-media a:hover {
  color: #777;
}
.comments {
  font-size: 12px;
}
@media (max-width: 767px) {
  .container {
    width: auto;
  }
  h1 {
    font-size: 50px;
  }
  .fork {
    width: 30%;
  }
}
.piano {
  background: -webkit-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
  background: -moz-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
  background: -o-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
  background: linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
  border-top: 2px solid #111;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.5), inset 0 -4px 5px #000000;
  padding: 0 1% 3%;
  text-align: center;
}
.key {
  display: inline-block;
  position: relative;
  width: 6%;
  max-width: 85px;
}
.key:active .black-key,
.key.active .black-key {
  top: -5px;
}
.key .white-key {
  background: -webkit-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: -moz-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: -o-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: linear-gradient(-30deg, #f8f8f8, #ffffff);
  box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
  display: block;
  height: 300px;
}
.key .white-key:active,
.key .white-key.active {
  box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px #000000, -3px 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -5px;
  height: 295px;
}
.key .black-key {
  content: "";
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  background: linear-gradient(-20deg, #222222, #000000, #222222);
  border-width: 1px 3px 8px;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  height: 160px;
  position: absolute;
  top: 0px;
  right: -40%;
  width: 70%;
  z-index: 10;
}
.key .black-key:active,
.key .black-key.active {
  border-bottom-width: 3px;
  top: 0;
}
@media (max-width: 767px) {
  .key {
    width: 8%;
  }
  .key:nth-child(1),
  .key:nth-child(2),
  .key:nth-child(3) {
    display: none;
  }
}
@media (max-width: 480px) {
  .key {
    width: 12%;
  }
  .key:nth-child(11),
  .key:nth-child(12),
  .key:nth-child(13),
  .key:nth-child(14) {
    display: none;
  }
}
