// --------------------------------------------------
// Footer
// --------------------------------------------------

.footer
  align-items center
  background $gray-darker
  color $white 
  display flex
  font-size 1.6rem
  height $footer-height
  justify-content center

  &__link 
    color $blue-light
    font-weight bold
    text-decoration none

    &:focus
    &:hover
      text-decoration underline
