// --------------------------------------------------
// Main
// --------------------------------------------------

.main 
  background $white  
  min-height 'calc(99vh - %s)' % ($piano-height + $footer-height)
  padding-bottom $space-md
  padding-top $space-md
  position relative
  z-index $zindex-site

