// --------------------------------------------------
// Social
// --------------------------------------------------
  
.social 
  display inline-block 
 
  &:not(:last-child)
    margin-bottom $space-sm
