// --------------------------------------------------
// Social
// --------------------------------------------------
  
.social  
  display flex
 
  &:not(:last-child)
    margin-bottom $space-sm

  &__link 
    display block

    &:not(:last-child)
      margin-right ($space-xxs / 2)
